extends layout

block content
  main(role='main')
  #slate-form
    .row
      .container
        .col-md-12
          h2
            i.fa.fa-map-marker(aria-hidden='true')
            |  
            span EXPLORE
            |  YOUR OPTIONS
          h5 FIND YOURSELF AT PENN
    .row.form-container
      .container
        .col-md-12
          #form_3afc890c-8025-461a-9f8f-69198b830355 Loading...
          script.
            /*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://key.admissions.upenn.edu/register/?id=3afc890c-8025-461a-9f8f-69198b830355&output=embed&div=form_3afc890c-8025-461a-9f8f-69198b830355' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/
  #proudly-penn
    .row.title-penn
      .col-md-12
        h2 PROUDLY PENN
    article.row.content
      .row.info-box
        .col-md-12
          p 90 UNDERGRADUATE MAJORS, FOUR SCHOOLS.
      .container
        .col-md-12
          .row
            section.col-md-12
              h3 LIBERAL ARTS AND SCIENCES IN PRACTICE
              p
                | The University of Pennsylvania brings together 10,000 of the most promising student minds and gives them access to a preeminent faculty and all the resources of one of the world&rsquo;s premier research institutions.
            section.col-md-12
              h3 ONE UNIFIED CAMPUS
              p
                | Penn&rsquo;s innovative curriculum is both rigorous and relevant, encompassing intensive study in the liberal arts and sciences as well as opportunities to cultivate interests in business, engineering, and nursing.
            section.col-md-12
              h3 AT HOME IN PHILADELPHIA
              p
                | Penn&rsquo;s compact, walkable campus is located in one of America&rsquo;s great college towns. A hub of culture and commerce with an energetic, entrepreneurial vibe, Philadelphia is one of Penn&rsquo;s greatest assets: an urban laboratory and an exciting place to call home.
  #academics
    .row.title-academics
      .col-md-12
        h2 ACADEMICS
    article#school-arts-sciences.row.content
      .row.info-box
        .col-md-12
          p 72 PERCENT OF COLLEGE COURSES HAVE 25 OR FEWER STUDENTS.
      .container
        .col-md-12
          .row
            section.col-md-12
              img.school-img(src='/img/sas.png', alt='')
            section.col-md-12
              h3 COLLEGE OF ARTS AND SCIENCES
              p
                | The College is the heart of the academic experience at Penn. An integrated curriculum spanning the humanities, social sciences, and natural sciences encourages guided exploration and intellectual risk-taking early on, allowing you to study across academic disciplines before choosing an area of focus in one of more than 50 majors.
            section.col-md-12
              h3 PRACTICAL LEARNING
              p
                | As a student in the College, your academic experience will be anchored by hands-on experience. You will participate in the creation, synthesis, and transmission of new knowledge. Comprehensive academic advising and support ensures that you&apos;ll be able to harness all of Penn&apos;s resources.
            section.col-md-12
              h3 YOUR FUTURE
              p
                | Students in the College are prepared to offer the world creative solutions to problems. Equipped with an intellectually flexible education, students in the College are ready for success in an increasingly complex world. 90 percent of the Class of 2015 is employed or attending graduate school.
    article#school-nursing.row.content
      .row.info-box
        .col-md-12
          p
            | PENN HAS THE ONLY UNDERGRADUATE NURSING SCHOOL IN THE IVY LEAGUE. PERCENT OF COLLEGE COURSES HAVE 25 OR FEWER STUDENTS.
      .container
        .col-md-12
          .row
            section.col-md-12
              img.school-img(src='/img/nursing.png', alt='')
            section.col-md-12
              h3 SCHOOL OF NURSING
              p
                | Penn&apos;s School of Nursing offers unmatched opportunities to pursue your interests in advanced practice nursing at the highest level. The integrated undergraduate curriculum combines hands-on clinical training within the framework of a broader liberal arts and sciences education, ensuring that you will have the skills to be a leader in healthcare delivery.
            section.col-md-12
              h3 APPLY WHAT YOU LEARN
              p
                | As a nursing student at Penn, you&apos;ll complete at least 896 hours of clinical rotations, benefitting from partnerships with more than 300 health care facilities - including the nation&apos;s top-ranked children&apos;s hospital. In addition to conducting research with renowned nurse educators, you&apos;ll also be able to study abroad and take part in public health outreach initiatives.
            section.col-md-12
              h3 YOUR FUTURE
              p
                | After completing the BSN course of study, 80 percent of Penn Nursing graduates pursue one of the School&apos;s 15 master&apos;s degree programs. Students can have close to 75 percent of their graduate degree tuition covered through joint funding from the University of Pennsylvania Health System and Penn Nursing.
    article#school-wharton-business.row.content
      .row.info-box
        .col-md-12
          p
            | 48 CLASSROOMS, 57 GROUP STUDY ROOMS, AND A 4,000-SQUARE-FOOT FORUM HELP MAKE WHARTON&rsquo;S HUNTSMAN HALL THE WORLD&rsquo;S MOST ADVANCED ACADEMIC CENTER FOR BUSINESS EDUCATION.
      .container
        .col-md-12
          .row
            section.col-md-12
              img.school-img(src='/img/wharton.png', alt='')
            section.col-md-12
              h3 THE WHARTON SCHOOL
              p
                | Penn is the proud home of the Wharton School, the world&apos;s first school of business. At Wharton, you&apos;ll study business in the context of a broader liberal arts education, learning from one of the world&apos;s largest and most-cited business schools.
            section.col-md-12
              h3 APPLY WHAT YOU LEARN
              p
                | Wharton takes a practice-based approach to learning through teamwork. In the Management 100 course, first-year students work in small teams to identify problems and create solutions with local non-profits. Students discover the latest business ideas and trends with faculty utilizing the 20 research centers devoted to business education.
            section.col-md-12
              h3 YOUR FUTURE
              p
                | A top ranked undergraduate business program, Wharton advances the world&rsquo;s economic and social well-being. Graduates join a global network of 94,000 alumni in 153 countries. Approximately two-thirds of graduates are able to advance their careers without returning to school to complete an MBA.
    article#school-engineering.row.content
      .row.info-box
        .col-md-12
          p
            | PENN ENGINEERING STUDENTS APPLY WHAT THEY LEARN, WHETHER DESIGNING AND RACING ALTERNATIVE-ENERGY VEHICLES OR PERFECTING ROBOT SOCCER PLAYERS FOR COMPETITION IN THE INTERNATIONAL ROBOCUP.
      .container
        .col-md-12
          .row
            section.col-md-12
              img.school-img(src='/img/seas.png', alt='')
            section.col-md-12
              h3 PENN ENGINEERING
              p
                | Penn Engineering offers an innovative and flexible curriculum combining fundamental science with groundbreaking research, leadership development, and professional practice. You can choose from among 14 majors, four interdisciplinary minors, and three dual-degree programs.
            section.col-md-12
              h3 APPLY WHAT YOU LEARN
              p
                | From creating ENIAC to pushing boundaries in the areas of nanotechnology, information systems, and biological engineering, Penn emphasizes practical learning. An emphasis on research combined with the entrepreneurial atmosphere at Penn will cultivate problem-solving skills in the development of innovative technologies.
            section.col-md-12
              h3 YOUR FUTURE
              p
                | Penn Engineering&rsquo;s reputation commands employers&rsquo; attention: nearly 400 companies recruit on campus annually. Graduates are innovators and entrepreneurs prepared to lead tomorrow&rsquo;s high-tech world.
    .row.school-menu
      .container
        nav
          h3 You might also consider study in one of Penn&apos;s other undergraduate schools:
          ul
            li.school-arts-sciences
              a(href='#school-arts-sciences') College of Arts and Sciences
            li.school-nursing
              a(href='#school-nursing') School of Nursing
            li.school-wharton-business
              a(href='#school-wharton-business') The Wharton School
            li.school-engineering
              a(href='#school-engineering') Penn Engineering
  #financial-aid
    .row.title-financial-aid
      .col-md-12
        h2 FINANCIAL AID
    article.row.content
      .container
        .col-md-12
          .row
            section.col-md-12
              h3 WE MEET FULL DEMONSTRATED NEED
              p Penn opens its doors to the world&rsquo;s most promising minds by:
              h3 WE MEET FULL DEMONSTRATED NEED
              p Penn opens its doors to the world&rsquo;s most promising minds by:
              h3 WE MEET FULL DEMONSTRATED NEED
              p Penn opens its doors to the world&rsquo;s most promising minds by:
  #explore-cta
    .row.title
      .container
        .col-md-12
          h2
            i.fa.fa-map-marker(aria-hidden='true')
            |  EXPLORE YOUR OPTIONS
          |  
          a.button FIND YOURSELF AT PENN
        div
